.startContainer{
  padding: 0rem 1.25rem 0rem;
}

.startContent{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 29rem;
  padding: 0;
}

.mainText{
  font-family: "Be Vietnam Pro";
  font-weight: bold;
  font-size:  1.5rem;
}

.subText{
  font-family: "Be Vietnam Pro";
  font-weight: 500;
  font-size: 1rem;
}
.imgContainer{
  display: flex;
  justify-content: center;
}


.imgContainer img {
  width: 70%;
}