/* TradeHistoryModal.css */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* 모달을 다른 요소 위에 표시하기 위한 z-index */
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
}

/* 닫기 버튼 스타일링 */
.modal-content button {
    float: right;
    background: none;
    border: none;
    cursor: pointer;
}
