/* 배너 */
.blueContainer{
  background-color: #306FE1;
  position: relative;
  padding:3.37rem 1.25rem 2.56rem ;
  box-shadow: 0px 20px 60px 0px rgba(0, 70, 255, 0.11);
}

.backBtn{
  position: absolute;
  z-index: 1;
}

.marginTitle{
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: bold;
  font-size: 1.375rem;
  color: white;  
}

.marginContent{
  margin-top: 2.31rem;

  font-weight: 700;
  font-size: 1.25rem;  
  color: white;
}

.marginContent span{
  font-size: 1.25rem;
}
.marginBold{
  font-size: 2rem !important ;
  margin-right: 0.625rem;
}

.miniFont{
  margin-top: 0.25rem;

  font-size: 0.875rem !important;
  font-weight: 400;
}

/* 본문 */
.settlementContainer{
  padding: 3.13rem 1.25rem 0;
  display: flex;
  flex-direction: column;
}

.marginBtnContainer{
  margin-top: 3rem;
}

.partWrapper{
  margin-bottom: 3rem;
}

.summary{
  text-align: end;
  font-weight: 700;
  font-size: 0.875rem;  
  color: #306FE1;

}