.miniBtn{
  display: flex;
  width: 7.25rem;
  height: 2.125rem;
  padding: 0.5rem;
  justify-content: center;
  align-items: center;

  background-color: #306FE1;
  border: none;
  border-radius: 0.625rem;

  font-weight: bold;
  font-size:  1rem;
  color: white;
}