.whiteBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 3.25rem;
  margin-top: 0.5rem;

  background-color: white ;
  border-radius: 0.75rem;
  border: 1.5px solid #0046FF;
  
  font-family: "Be Vietnam Pro";
  font-weight: bold;
  font-size:  1.125rem;
  color: #0046FF;
}