.accountContainer{

}

.infoContainer{
  margin-bottom: 2rem;
}

.infoTitle{
  font-family: "Be Vietnam Pro";
  font-style: normal;
  font-weight: bold;
  font-size: 1.125rem;

  margin-top: 2.87rem;
  margin-bottom: 0.8rem;
}

.noAccount{
  height: 8.5625rem;  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 1rem;
  border: 1px solid #EBEBEB;
  background: white;
  box-shadow: 0px 5px 50px 0px rgba(48, 111, 225, 0.10);
}

.noAccount div{
  text-align: center;
  font-family: Be Vietnam Pro;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.02rem;
}

.noAccount button{
  margin-top: 0.5rem;
}

.normalText{
  font-family: "Be Vietnam Pro";
  font-style: normal;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.25rem; /* 111.111% */
  letter-spacing: -0.015rem;
  /* margin-bottom: 2.25rem; */
}

.boldText{
  font-family: "Be Vietnam Pro";
  font-style: normal;
  font-weight: bold;
  font-size: 1.25rem;
}