/* 

.loanProduct p {
  margin: 0px;
  font-size: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-height: 1.5rem; 
  line-height: 1;
}

.pd-h2 {
  margin-top: 0.8rem;
} */
