body {
  height: 100vh; 
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Be Vietnam Pro";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color:#333E63;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;

}

@font-face {
  font-family: "Be Vietnam Pro";
  font-weight: bold;
  src: url("BeVietnamPro-Bold.woff") format("woff");
}
@font-face {
  font-family: "Be Vietnam Pro";
  font-weight: normal;
  src: url("BeVietnamPro-Regular.woff") format("woff");
}
@font-face {
  font-family: "Be Vietnam Pro";
  font-weight: 500;
  src: url("BeVietnamPro-Medium.woff") format("woff");
}
@font-face {
  font-family: "Be Vietnam Pro";
  font-style: normal;
  font-weight: lighter ;
  src: url("BeVietnamPro-Light.woff") format("woff");
}

